.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0px;
    padding: 0px;
}
.navv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
.bd{
    font-size: 32px;
    font-weight: 700;
}
.btn{
    border: 1px solid #006A50;
    color: #006A50;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}
.text{
    font-size: 56px;
    font-weight: bold;
    padding: 0px;
    margin-top: 100px;
    margin-left: 30px;
}
.bdd{
    font-size: 24px;
    opacity: 50%;
    color: #0E0E0E;
}
.idea{
    font-size: 56px;
    font-weight: bold;
}
.first{
    background-color: #c6E4D6;
    margin: 0 160px;
    border-radius: 25px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    
}
.hero{
    width: 500px; height: 430px;
    margin-right: 100px;
    margin-top: 80px;
}
.btn2{
    border: 0px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
    padding: 17px 34px;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 8px;
}