.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f5f5;
}
.navv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 160px 48px;
}
.bd{
  font-size: 32px;
  font-weight: 700;
}
.btn {
    font-size: 18px;
  border: 1px solid #006a50;
  color: #006a50;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}
.btn:hover{
    background-color: #007032;
    border: 0px;
    color: white;
}
.text {
  font-size: 56px;
  font-weight: bold;
  padding: 0px;
  margin-top: 100px;
  margin-left: 30px;
}
.bdd {
  font-size: 24px;
  opacity: 50%;
  color: #0e0e0e;
}
.idea {
  font-size: 56px;
  font-weight: bold;
}
.first {
  background-color: #c6e4d6;
  margin: 0 160px;
  border-radius: 25px;
  height: 560px;
  display: flex;
  justify-content: space-between;
}
.first:hover{
    background-color: #9ff8f4;
        border: 0px;
        color: rgb(0, 0, 0);
}
.hero {
  width: 500px;
  height: 430px;
  margin-right: 100px;
  margin-top: 80px;
}
.btn2 {
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  padding: 17px 34px;
  color: #ffffff;
  background-color: #006a50;
  border-radius: 8px;
}
.btn2:hover{
        background-color: #f50505;
        border: 0px;
        color: white;
}
.second {
  margin: 80px 160px;
}
.pillar {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}
.pillarname {
  display: flex;
  justify-content: space-between;
}
.parts {
  background-color: #ffffff;
  border: 1px solid #dfdddd;
  border-radius: 16px;
  width: 302px;
  padding: 24px;
}
.parts:hover{
    background-color: #ff5757;
        border: 0px;
        color: white;
}
.light {
  margin-bottom: 24px;
}
.cardname {
  font-size: 20px;
  font-weight: bold;
}
.extra {
  margin-bottom: 24px;
}
.vision {
  display: flex;
  justify-content: space-between;
}
.vparts {
  border: 0px;
  border-radius: 16px;
  width: 445px;
  padding: 32px;
}

.vparts:hover{
    background-color: #ff5353;
        border: 0px;
        color: white;
}

.vcol1 {
  background-color: #548ff53d;
}
.vcol2 {
  background-color: #c6e4d6;
}
.vcol3 {
  background-color: #f7ebcf;
}
.btn21 {
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  padding: 17px 34px;
  color: #ffffff;
  background-color: #5490f5;
  border-radius: 8px;
}
.btn22 {
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  padding: 17px 34px;
  color: #ffffff;
  background-color: #09a15c;
  border-radius: 8px;
}
.btn23 {
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  padding: 17px 34px;
  color: #ffffff;
  background-color: #ffc239;
  border-radius: 8px;
}
.btn21:hover{
    background-color: #551a1a;
        border: 0px;
        color: white;
}
.btn22:hover{
    background-color: #551a1a;
        border: 0px;
        color: white;
}
.btn23:hover{
    background-color: #551a1a;
        border: 0px;
        color: white;
}
.quotation {
  border: 1px solid white;
  border-radius: 16px;
  background-color: #ffffff;
  margin: 32px 160px 80px 160px;
  padding: 48px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
}
.yns {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
.bg {
  position: absolute;
  margin-top: -20px;
}

.op {
  margin: 15px 160px;
}

.fortable {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;
  margin: 0px 160px;
}
.question {
    
  font-size: 20px;
  font-weight: 600;
}

table {
    border: 1px solid rgb(236, 236, 236);
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgb(211, 211, 211);
}

th {
  background-color: #c6e4d6;
  font-weight: bold;
}

select {
  background-color: #c6e4d6;
  padding: 5px;
  font-size: 16px;
}
.new{
    margin: 80px 160px 24px;
}
.sat{
    border-radius: 24px;
}
.newsbar{
    padding: 48px;
    border-radius: 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
}
.texty{
    margin-left: 32px;
}
.logo{
    margin: 12px 0px;
}
.date{
    margin-bottom: 12px;
    font-size: 16px;
    color: #5c5b5b;
}
.halka{
    color: #444444;
}
.halka1{
    margin: 0px 160px 8px;
}
.garo{
    font-size: 32px;
    font-weight: 700;
    color: #444444;
}
.donate{
    margin: 80px 160px 24px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.sub{
    margin: 24px 160px 0px;
}
.box{
    display: flex;
    justify-content: space-between;
    margin: 32px 160px;
}
.boxn{
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid rgb(202, 202, 202);
    width: 240px;
    padding: 40px;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background-color: #ffffff;
}
.boxn:hover{
    background-color: #964242;
        border: 0px;
        color: white;
}
.dui{
    background-color: #C6E4D6;
}
.takaa{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    font-size: 16px;
    border: 0px;
    box-sizing: border-box;
    margin: 32px 160px 32px 160px;
    align-content: center;
}
.taka{
    border: 0px;
    margin-left: 13%;
    font-size: 32px;
}
.center{
    text-align: center;
    margin-top: 32px;
}
.footer{
    padding: 80px;
    text-align: center;
    background-color: #c6e4d6;
    margin: 80px 160px;
    border-radius: 25px;
    height: auto;
    justify-content: space-between;
}
.subs{
    margin-bottom: 16px;
    font-size: 45px;
}
.last{
    margin: 24px 0px 24px 48px ;
    width: 46%;
    padding: 18px 40px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;

}
.btn3{
    margin-left: -15px;
    margin-top: -3spx;

    order: 0px;
  font-size: 8px;
  font-weight: 600;
  margin-top: 24px;
  padding: 17px 34px;
  color: #ffffff;
  background-color: #006a50;
  border-radius: 8px;
}
.bd1{
    text-align: center;
    font-size: 20px;
}
.line{
    margin: 32px 160px;
}
.social{
    margin: 32px auto 50px auto;
    text-align: center;
}
.insta{
    margin: 0px 32px;
}
.fb {
    width: 300px;
}
.btn3:hover{
    background-color: #ff0000;
        border: 0px;
        color: white;
}